.bed-finder {
    margin: 10px;
    .title {
        font-size: 200%;
    }
    .input-row {
        padding: 10px 0;
    }
    .btn-group {
        padding-right: 10px;
    }
    .btn-primary {
        width: 100%;
    }
}

.bed-finder-results {
    margin: 10px;
    .title {
        font-size: 200%;
    }
    .result {
        margin-left: 10px;
        margin-top: 10px;
        border-bottom: 1px solid #eaeaea;
        .register-link {
            float: right;
            font-size: 80%;
        }
        .title {
            font-size: 200%;
        }
        .shelter-name {
        }
        .details {
            ul {
                list-style: none;
                padding-left: 9px;
                font-size: 80%;
                margin-bottom: 0;
            }
        }
        .restrictions {
            font-size: 80%;
            color: @brand-warning;
            margin-left: 10px;
            ul {
                list-style: none;
                padding-left: 9px;
                font-size: 80%;
            }
        }
    }
}