.bed-finder {
    margin: 10px;
    .title {
        font-size: 200%;
    }
    .input-row {
        padding: 10px 0;
    }
    .btn-group {
        padding-right: 10px;
    }
    .btn-primary {
        width: 100%;
    }
}