.navbar:first-of-type {
    margin-bottom: 0;
}
.navbar {
    background: @navbar-main;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-bottom: 1px solid @navbar-border;
    img {
        height: 20px;
        display: inline-block;
        margin-right: 5px;
        margin-top: -5px;
    }
}
.navbar-inverse {
    .navbar-toggle:hover {
        background-color: @navbar-border;
    }
    .navbar-collapse {
        border-color: @navbar-border;
    }
    .navbar-toggle {
        border-color: @navbar-foreground;
    }
    .navbar-brand {
        color: @navbar-foreground;
    }
    .navbar-nav>li>a {
        color: @navbar-foreground;
    }
}