@import "../node_modules/bootstrap/less/bootstrap";
@import (inline) "../node_modules/react-select/dist/react-select.css";

@import "theme";
@import "bed-finder/bed-finder";
@import "admin/admin";
@import "clients/styles";

.spinner {
    background-image: url(/spinner.gif);
    height: 50px;
    width: 50px;
    background-size: 50px;
    margin: 0 auto;
    margin-top: 75px;
    position: absolute;
    z-index: 100;
    right: 0;
    left: 0;
}

.navbar:first-of-type {
  margin-bottom: 0;
}
